<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="assets/mui/css/mui.css">
    <script src="assets/mui/js/mui.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="assets/fa/css/font-awesome.css">
</head>
<body>
<header class="mui-bar mui-bar-nav my-header">
    <a href="" class="mui-active-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">独孤求败</h1>
    <a href="" class="mui-active-back mui-icon mui-icon mui-icon-search mui-pull-right"></a>
</header>
<nav class="mui-bar mui-bar-tab my-footer">
    <a href="" class="mui-tab-item mui-active">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a href="" class="mui-tab-item mui-active">
        <span class="mui-icon mui-icon-bars"></span>
        <span class="mui-tab-label">分类</span>
    </a>
    <a href="" class="mui-tab-item mui-active">
        <span class="mui-icon fa fa-shopping-cart"></span>
        <span class="mui-tab-label">购物车</span>
    </a>
    <a href="" class="mui-tab-item mui-active">
        <span class="mui-icon mui-icon-person"></span>
        <span class="mui-tab-label">会员中心</span>
    </a>
</nav>
<main class="mui-content">
    内容
</main>
</body>
</html>
